body {
  overflow-x: none;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
  list-style-type: none;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
input,
textarea,
select,
button {
  outline: none;
}
input {
  line-height: normal;
}
label,
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}
